{% layout 'layout.liquid' %}
{% block content %}
    <div class="col-mb-4">
        <h1 class="display-4">Welcome!</h1>
        <p>Find the skincare products right for you...</p>
    </div>
    <div class="btn-group btn-group-lg mt-4">
        <a href="/auth/signup" class="btn btn-success">Sign Up</a>
        <a href="/auth/login" class="btn btn-success">Login</a>
        <a href="/auth/logout" class="btn btn-success">Logout</a>
    </div>
{% endblock %}