{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/skincare" method="POST">
        <fieldset>
            <legend>Create New Skincare Product</legend>
            <label class="form-label">Name: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="{{ skincare.name }}"
                value="{{ skincare.name}}"
                class="form-control"
            >
            <label class="form-label">Skin Concern:</label>
            <input 
                type="text" 
                name="body" 
                placeholder="{{ skincare.skinConcern }}" 
                value="{{ skincare.skinConcern}}" 
                class="form-control"
            >
            >
            <label class="form-label">Sensitive Skin</label>
            <input 
                type="checkbox" 
                name="sensitiveSkin" 
                class="form-check-input"
                {% if skincare.sensitiveSkin %}
                    checked
                {% endif %}
            >
        </fieldset>
        <input type="submit" value="Edit Example" class="btn btn-success">
    </form>
</div>
{% endblock %}